<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome</p>

<h1 class="mt-4">List Data Asset</h1>
<h4><a href="/users/add">Add Assets</a></h4>
<div class="tableku">
    <table border="1" cellspacing="0" cellpadding="5">
        <%- include ('./partials/messages') %>
        <thead>
            <th>NAME CODE</th>
            <th>NAMA</th>
            <th>DEPARTEMENT</th>
            <th>DATE</th>
            <th>ACTION</th>
        </thead>
        <tbody>
            <% result.forEach(function(list) { %>
            <tr>
                <td><%- list.codeName%></td>
                <td><%- list.name%></td>
                <td><%- list.departement%></td>
                <td><%- list.date%></td>
                <td><a href="/dashboard/data/<%- list._id%>">Detail</a>
                    <a href="/dashboard/delete/<%- list._id%>">Delete</a>
                    <a href="/dashboard/update/<%- list._id%>">update</a>
                </td>
            </tr>
            <% }) %>

        </tbody>
    </table>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>